<%= form_for location do |f| %>
  <%= f.hidden_field :player_id, value: current_player.id %>
<p>
  <%= f.label "Message: " %>
  <%= f.text_field :content %>
</p>
<p>
  <%= f.fields_for :character_locations, turn.schemes.build do |schemes_fields| %>
    Send Troops  <%= schemes_fields.text_field :number_of_troops %> <br>
    Action Type  <%= schemes_fields.text_field :nature %> <br>
    Choose Character <%= schemes_fields.collection_select(:character_id, Character.all, :id, :name) %>
    Choose Location  <%= schemes_fields.collection_select(:location_id, Location.all, :id, :id) %><br>
    <% end %>
    <!-- Insert a model class method here for finding all Characters that are free and in this player's team-->

</p>
 <%= f.collection_check_boxes :location_ids, current_game.locations, :id, :id %>
Leave a message:  <%= f.fields_for :locations, turn.locations.build do |locations_fields| %>
      <%= locations_fields.text_field :content %>
        <%= locations_fields.hidden_field :player_id, value: current_player.id %>
  <% end %>
</p>
 <%= f.submit %>
 <% end %>
