<p>
  <%= form_for @game do |f|%>

    <p>
      <strong>Create a New Game</strong>
    </p><p>
    <%= f.label "Your Game Title: " %> <br>
    <%= f.text_field :title, placeholder: @game.errors.full_messages_for(:title).first || "" , class: "field_with_errors"%> <br>
    </p><p>
    <%= f.label "Enter map size (between 4 and 20): " %> <br>
    <%= f.text_field :map_size, placeholder: @game.errors.full_messages_for(:map_size).first || "" , class: "field_with_errors"%> <br>
    </p><p>
    <%= f.label "Custom map name: " %> <br>
    <%= f.text_field :map_name, placeholder: "Default: 'Endless Swamp'" %> <br>
    </p><p>
    <%= f.label "Background Image Url (optional): " %> <br>
    <%= f.text_field :background_image_link %> <br>
    </p>
    <%= f.submit "Create" %>
  <% end %>
</p>
