<h1>Game Setup Page</h1>

<%= @game.title %> <br>

<p>
  <%= (link_to "Show Locations", game_locations_path(@game)) if !@game.locations.empty? %>
  <%= (link_to "Create Locations", setup_path(@game) ) if @game.locations.empty? %>
</p>


<p>
  <%= (link_to "Join This Game", join_path(@game)) if @game.joinable?%>
</p>


<p>
  <%= (button_to "Launch Game", {controller: :games, action: "start"}, method: :post, params: {id: @game.id, status: "active"}) if @game.launchable? %>
</p>
