<%= form_for [current_game, location] do |f| %>

<p>
  <%= f.label "New Content:" %>
  <%= f.text_field :content %>
</p>
  <%= f.hidden_field :controlled_by, value: current_player.id %>
<p>
  <%= f.collection_select :character_ids, current_player.characters, :id, :name %>
</p>
<%= f.fields_for :characters, location.characters.build do |characters_fields| %>
     <%= characters_fields.text_field :energy %>
<% end %> <br>
<p>
  <%= f.fields_for :character_locations, location.character_locations.build do |character_locations_fields| %>
  Power To Overtake:    <%= character_locations_fields.text_field :troops_sent %>
  <% end %>
</p>
  <%= f.submit "Overtake!" %>
<% end %>
