<%= form_for [current_game, location] do |f| %>

  <%= f.hidden_field :controlled_by, value: current_player.id %>
  Current message: <%= location.content%>
<p>

</p>
<%= f.fields_for :characters, location.characters.build do |characters_fields| %>
  <!-- Troops Left: <%= characters_fields.text_field :energy, readonly: true %> -->
<% end %> <br>
<p>
  <%= f.fields_for :character_locations, location.character_locations.build do |character_locations_fields| %>
  Choose your character:  <%= character_locations_fields.collection_select :character_id, current_player.characters, :id, :name %>
  Send Troops:    <%= character_locations_fields.text_field :troops_sent %><br>
  <div class="field_with_errors">
    New Message: <%= character_locations_fields.text_field :message %> <br>
  </div>
  <% end %>
</p>
  <%= f.submit "Overtake!" %>
<% end %>
