<%= form_for [current_game, location] do |f| %>

  <%= f.hidden_field :controlled_by, value: current_player.id %>
  <h4>Current message: <%= location.content%></h4>

<p>
  <%= f.fields_for :character_locations, location.character_locations.build do |character_locations_fields| %>
  Choose your character:  <%= character_locations_fields.collection_select :character_id, active_characters, :id, :name %><br>
  Send Troops:  <%= character_locations_fields.text_field :troops_sent, class: "field_with_errors" %><br>
    New Message: <%= character_locations_fields.text_field :message, class: "field_with_errors" %><br>
  <% end %>
</p>
  <%= f.submit "Overtake!" %>
<% end %>
