<p>

<h5> <%= event.message %> </h5>
find character name here by event.character_id <br>
this takeover on <%= event.updated_at %> was a <%= "success" if event.success %> <%= "failure" if !event.success %>
with <%= event.troops_sent %> troops sent

</p>
