<p>

<h4> <%= event.message %> </h4>
<h5> by <%= who_am_i(event.character_id) %> </h5>
this takeover on <%= event.updated_at %> was a <%= "success" if event.success %> <%= "failure" if !event.success %>
with <%= event.troops_sent %> troops sent

</p>
