<h1> <%= current_game.map_name %></h1>

<p>
  <% @locations.each_with_index do |location, i| %>
    <div class="location">
      <%= location_status(location, i) %><br>
      <%= location_action(location) %><br>
    </div>
  <% end %>
  <div class = "game_status_message">
    <%= game_status_message %>
  </div>
</p>

<%= link_to "Game home page", game_path(current_game)%>
