<h1> <%= current_game.map_name %></h1>

<p>
  <% @locations.each_with_index do |location, i| %>
    <div class="location">
      <%= link_to "#{i+1}. In control: #{location.player_in_control}", game_location_path(current_game, location) %><br>
      <%= (link_to "Take Over!", edit_game_location_path(current_game, location)) if possible_target?(location) && game_active? %><br>
    </div>
  <% end %>
  <div class = "game_status_message">
    <%= game_status_message %>
  </div>
</p>

<%= link_to "Game home page", game_path(current_game)%>
