  <div id = "nav_left" class = "flex left col-2">
    <%= link_to "Clear Screen", root_path, class: "flex m1" %>
    <%= link_to "About", about_path, class: "flex m1" %>
  </div>

  <% if !current_player %>

    <div id = "nav_right" class = "flex order-last right col-2">
      <%= link_to "Sign In", new_player_session_path, class: "flex m1" %>
      <%= link_to "Sign Up", new_player_registration_path, class: "flex m1" %>
    </div>

    <div id = "nav_center" class = "center col-8 m1">Welcome to Interception</div>

  <% else %>

    <div id = "nav_right" class = "flex order-last right col-2">
      <%= link_to "Sign Out", destroy_player_session_path,:method => :delete, class: "flex m1"  %>
    </div>

    <div id = "nav_center" class = "flex col-8">
      <%= link_to "Games", games_path, class: "flex m1" %>
      <%= link_to "New Game", new_game_path, class: "flex m1" %>
      <%= link_to "My Characters", player_characters_path(current_player), class: "flex m1" %>
      <%= link_to "New Character", new_player_character_path(current_player), class: "flex m1" %>
    </div>

  <% end %>
