<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Makes the current_player id and alias visible to javascript when logged in: %>
    <% if current_player %>
      <%= javascript_tag do %>
        playerId = <%= current_player.id %>;
        playerAlias = "<%= current_player.alias %>";
      <% end %>
    <% end %>

  </head>

  <body>

    <div id = "navbar" class = "flex col-12 p1 border-box clearfix border rounded">
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div id = "container" class = "p1 border-box clearfix border rounded">
      <div id = "status" class = "flex col-10 mx-auto p1 border-box border rounded clearfix block">
          <div id = "shortcut" class = "flex col-3 mx-auto p1 border-box border rounded"><%= page_content %></div>
          <div id = "alias" class = "flex col-3 mx-auto p1 border-box border rounded"></div>
          <div id = "turn" class = "flex col-3 mx-auto p1 border-box border rounded"></div>
      </div>

      <%= yield %>


    </div>
  </body>
</html>
