<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "nav">
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div class="messages">
      <%= render partial: 'layouts/messages' %>
    </div>
    <div class = "status">
      <p>
        <% if current_player %>
          <%= "Playing as #{current_player.alias}" %> <br>
          <%= "Game status: #{current_game.status}, Turn player_number (this needs a helper to show the name): #{current_game.turn}" if current_game %><br>
        <% end %>
      </p>
    </div>
    <%= yield %>

  </body>
</html>
