<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <% if current_player %>
    <%= "Playing as #{current_player.alias}" %> <br>
    <%= "Game status: #{current_game.status}, Turn player_number (this needs a helper to show the name): #{current_game.turn}" if current_game %><br>
    <% end %>
    <%= yield %>

  </body>
</html>
