<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class = "nav">
      <%= render partial: 'layouts/navbar' %>
    </div>

    <div class = "status">
      <p>
        <%= player_status %><br>
        <%= game_status %><br>
        <%= turn_status %>
      </p>
    </div>

    <div class = "messages">
      <%= render partial: 'layouts/messages' %>
    </div>

    <%= yield %>

  </body>
</html>
