<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Makes the current_player id and alias visible to javascript when logged in: %>
    <% if current_player %>
      <%= javascript_tag do %>
        playerId = <%= current_player.id %>;
        playerAlias = "<%= current_player.alias %>";
      <% end %>
    <% end %>

  </head>

  <body>

    <div id = "navbar" class="clearfix">
      <%= render partial: 'layouts/navbar' %>
    </div>

    <div id = "status" class="clearfix">
        <div id="shortcut"><%= page_content %></div> <br>
    </div>


    <%= yield %>

  </body>
</html>
