<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Makes the current_player id visible to javascript when logged in: %>
    <% if current_player %>
      <%= javascript_tag do %> const playerId = <%= current_player.id %> <% end %>
    <% end %>

  </head>

  <body>

    <div id = "navbar">
      <%= render partial: 'layouts/navbar' %>
    </div>

    <div class = "status">
      <p>
        <%= player_status %><br>
        <%= game_status %><br>
        <%= turn_status %>
      </p>
    </div>

    <div class = "messages">
      <%= render partial: 'layouts/messages' %>
    </div>

    <%= yield %>

  </body>
</html>
