<!DOCTYPE html>
<html>
  <head>
    <title>InterceptionGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "nav">
      <%= render partial: 'layouts/navbar' %>
    </div>
    <div class = "messages">
      <%= render partial: 'layouts/messages' %>
    </div>
    <div class = "status">
      <p>
        <% if current_player %>
          <%= "Playing as #{current_player.alias}" %> <br>
          <%= "Game: #{current_game.title}; Status: #{current_game.status}; #{current_game.whose_turn_is_it_anyway}'s turn." if current_game %><br>
        <% end %>
      </p>
    </div>
    <%= yield %>

  </body>
</html>
